.show_alarms-wrapper {
    width: 300px;

    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: auto
}

.show_alarms__alarms {
    width: 100%;
    height: 0;
    transition: .5s;
    overflow-y: scroll;
    border-radius: 15px;
}

.show_alarms__alarms::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; 

}

.show_alarms__alarms::-webkit-scrollbar-thumb {
    background-color: #fff; 
}

.clock_wrapper {
    opacity: 0;
    transform: translateY(300px);
    transition: .5s;
}

.set_alarms-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.set_alarm_title {
    transition: .8s;
    cursor: pointer;
    font-size: 24px;
    flex:0;
}

.set_alarm_window-first {
    box-sizing: border-box;
    flex:1;
    padding: 20px 30px;
    transition: .5s;
    transform-origin: top;
    transform: scaleY(0);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: white;
    min-height: 300px;
}



