.timer__inner {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    padding: 0px 50px;
}

.timer {
    opacity: 0;
    transform: translateY(300px);
    transition: .5s;
}

.timer__inner__left-content {
    height: 2px;
    flex: 1;
}

.timer__inner__time {
    flex: 1;
    text-align: center;
    font-size: 100px;
    font-family: 'Montserrat-SemiBold';
    
}

.timer__inner__set-timer-wrapper {

    flex: 1;
}

.set_alarm_first  {
    position: relative;
}

.set_alarm_title {
    text-align: center;
}

.set_alarm_first_button-stop {
    cursor: pointer;
    margin-top: 40px;
}