.settings_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
}

.settings {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    align-items: center;
    justify-content: center;
}

.settings_change_bg img{
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.settings_inner {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    min-height: 300px;
    width: 500px;
    padding-bottom: 20px;
}

.settings_change_bg {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.changer_method {
    padding-left: 20px;
    padding-top: 10px;
}