.settings_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    transition: .5s;


    position: absolute;
    bottom: 50px;
    width: 100%;
  
}

.settings_button {
    cursor: pointer;
}

.settings {
    z-index: 10;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    align-items: center;
    justify-content: center;


    transition: 0.5s;
    opacity: 0;
}

.settings_change_bg img{
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.settings_inner {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    min-height: 300px;
    width: 500px;
    padding-bottom: 20px;
}

.settings_change_bg {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 300px;
    overflow-y: scroll;

   
}

.settings_change_bg::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; 

}
.settings_change_bg::-webkit-scrollbar-thumb {
    background-color: #fff; 
}

.changer_method {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.global_color_changer {
    cursor: pointer;
}

.settings_slider_wrapper {
    display: flex;
    overflow: hidden;
}

.settings_slider_element {
    transition: .5s;
    width: 100%;
    flex-shrink: 0;
}

.changer_method_element {
    color: gray;
    cursor: pointer;
    transition: .5s;
}

.chillwave_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.on_chillwave {
    cursor: pointer;
}

.global_color_changer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.global_color_changer-button {
    cursor: pointer;
}

.fullscreen_button {
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.settings_buttons_wrapper {
    padding: 0px 40px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}